<%= form_with(model: provider, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :provider_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
