<%= form_with(model: provider, local: true) do |f| %>

				<div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name,  id: :provider_name, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-primary btn-block"%>
        </div>
      <% end %>
